h1{
    background-color: aqua;
    color: black;
    text-align: center;
}
ul
{
     color:white ;
    background-color: rgb(28, 9, 231);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
}
li{
    display: block;
}
body{
    background-color: aquamarine;
    color: black

}